<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Countries</title>
  <link rel="stylesheet" href="/css/main.css" />

</head>

<body tabindex="-1">
  <!-- <div class="navbar bg-base-100">
    <div class="flex-1">
      <a class="btn btn-ghost normal-case text-xl" href="/">Countries</a>
    </div>

    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost sm:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
        </svg>
      </label>
      <ul tabindex="0" class="menu menu-sm dropdown-content right-0 mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52">
        <li><a href="/about">About</a></li>
        <li>
          <details>
            <summary>
              Region
            </summary>
            <ul class="p-2 bg-base-100">
              <li><a href="/countries?region=Africa">Africa</a></li>
              <li><a href="/countries?region=Americas">Americas</a></li>
              <li><a href="/countries?region=Asia">Asia</a></li>
              <li><a href="/countries?region=Europe">Europe</a></li>
              <li><a href="/countries?region=Oceania">Oceania</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </div>

    <div class="navbar-center hidden sm:flex">
      <ul class="menu menu-horizontal px-1">
        <li><a href="/about">About</a></li>
        <li>
          <details>
            <summary>Region</summary>
            <ul class="p-2 bg-base-100 right-0">
              <li><a href="/countries?region=Africa">Africa</a></li>
              <li><a href="/countries?region=Americas">Americas</a></li>
              <li><a href="/countries?region=Asia">Asia</a></li>
              <li><a href="/countries?region=Europe">Europe</a></li>
              <li><a href="/countries?region=Oceania">Oceania</a></li>
            </ul>
          </details>
        </li>
      </ul>
    </div>
  </div> -->

  <%- include('partials/navbar', {page: ''}) %>

  <br />

  <div class="container mx-auto">


    <div class="hero bg-base-200 rounded-lg p-6">
      <div class="hero-content text-center ">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">Welcome</h1>

          <p class="py-6">From North America, we start to explore the countries in the world.</p>
      
          <a href="/countries" class="btn btn-primary">Get Started Now</a>
        </div>
      </div>
    </div>

    <br />

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
      <div>

        <div class="card bg-base-100 shadow-xl">
          <figure>
            <img class="w-full" src="https://flagcdn.com/w320/ca.png" alt="Canada"  />
          </figure>
          <div class="card-body">
            <h2 class="card-title">Canada</h2>

            <div class="grid grid-cols-4 gap-4">

              <!-- First Column (20% width) -->
              <div class="col-span-1 px-1 py-4">
                <img class="w-20" src="https://mainfacts.com/media/images/coats_of_arms/ca.png" alt="Canada" />
              </div>
          
              <!-- Second Column (80% width) -->
              <div class="col-span-3 py-4 px-6">
                <b>Capital: </b>Ottawa<br> <b>Languages: </b>	"English,French"<br> <b>Population: </b>	38,005,238<br> <b>Area: </b>	9,984,670 Km<sup>2</sup>
              </div>
          
            </div>
              
              
            <div class="card-actions justify-end">
              <a href="/countries/124" class="btn btn-primary">View</a>
            </div>
          </div>

        </div>
      </div>

      <div>

        <div class="card bg-base-100 shadow-xl">
          <figure>
            <img class="w-full" src="https://flagcdn.com/w320/us.png" alt="USA"  />
          </figure>
          <div class="card-body">
            <h2 class="card-title">United States of America</h2>
            
            <div class="grid grid-cols-4 gap-4">

              <!-- First Column (20% width) -->
              <div class="col-span-1 px-1 py-4">
                <img class="w-20" src="https://mainfacts.com/media/images/coats_of_arms/us.png" alt="US" />
              </div>
          
              <!-- Second Column (80% width) -->
              <div class="col-span-3 py-4 px-6">
                <b>Capital: </b>Washington, D.C.<br> <b>Languages: </b>	"English"<br> <b>Population: </b>	329,484,123<br> <b>Area: </b>	9,372,10 Km<sup>2</sup>
              </div>
            </div>

            <div class="card-actions justify-end">
              <a href="/countries/840" class="btn btn-primary">View</a>
            </div>
          </div>

        </div>
      </div>

      <div>

        <div class="card bg-base-100 shadow-xl">
          <figure>
            <img class="w-full" src="https://flagcdn.com/w320/mx.png" alt="United Mexican States"  />
          </figure>
          <div class="card-body">
            <h2 class="card-title">United Mexican States</h2>
             
            <div class="grid grid-cols-4 gap-4">

              <!-- First Column (20% width) -->
              <div class="col-span-1 px-1 py-4">
                <img class="w-20" src="https://mainfacts.com/media/images/coats_of_arms/mx.png" alt="United Mexican States" />
              </div>
          
              <!-- Second Column (80% width) -->
              <div class="col-span-3 py-4 px-6">
                <b>Capital: </b>Mexico City<br> <b>Languages: </b>Spanish<br> <b>Population: </b>128,932,753<br> <b>Area: </b>1,964,375 Km<sup>2</sup>
              </div>
            </div>
            

            <div class="card-actions justify-end">
              <a href="/countries/484" class="btn btn-primary">View</a>
            </div>
          </div>

        </div>
      </div>


    </div>
</body>

</html>